
@media screen {
    @media (max-width:1025px) {
      html {
        font-size: 12px;
      }
    }
  
    @media (max-width:641px) {
      .home__header {
        flex-direction: column-reverse;
      }
      .home__header img {
        width: 100%;
      }
      .home__header-text h1 {
        text-align: center;
        font-size: 2rem !important;
      }
      .home__products {
        justify-content: center !important;
      }
      .home__search {
        justify-content: center !important;
      }
    }
  }
  
  .home__header {
    padding-top: 5rem;
    display: flex;
    width: 100%;
    background-color: #f0f0f5;
    justify-content: space-around;
    align-items: center;
  }
  
  .home__header img {
    width: 50%;
  }
  
  .home__header-text {
    line-height: 1.75rem;
  }
  
  .home__header-text h1 {
    font-size: 3rem;
  }
  
  .home__header-text-1 {
    color: #313238;
  }
  
  .home__header-text-2 {
    color: #4B4B4B;
    margin-bottom: 5rem;
  }
  
  .home__header-text-link {
    color: white;
    text-decoration: none;
    padding: 1rem 5.4rem;
    background-color: #6acceb;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .home__products {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .home__products img {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }
  
  .home__products-card {
    padding: 0.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .home__products-card-text {
    line-height: 1.5rem;
    padding: 10px 20px;
    text-align: center;
  }
  
  .home__products-card h1, a {
    color: #343434;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .home__products-card a:hover h1 {
    color: #4B4B4B;
  }
  
  .home__products-card-text-price-no-discount {
    text-decoration: line-through;
    font-size: 0.9rem;
  }
  
  .home__products-card-text-price-discount {
    color: red;
  }

  .home__search {
    width: 100%; 
    display: flex;
    justify-content: flex-start;
    margin-top: 3rem;
    padding: 2rem;
    position: relative;
  }

  .home__search div {
    width: 35%;
    min-width: 200px;
    position: relative;
  }

  .home__body {
    display: flex;
    flex-direction: column;
    margin: 0 6rem;
  }

  .home__search input {
    border-radius: 10px;
    border: 1px solid #343434aa;
    padding: 10px;
  }

  .home__search input:focus + .home__search-autocomplete {
    visibility: visible;
  }

  .home__search-autocomplete:hover {
    visibility: visible;
  }

  .home__search-autocomplete {
    margin: 0;
    visibility: hidden;
    position: absolute;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #eee;
    border-radius: 20px;
    width: 100%;
  }

  .home__search-autocomplete li {
    position: relative;
    width: 100%;
    padding: 5px 15px;
    border: 1px solid #34343455; 
    font-size: 1rem;
    cursor: pointer;
    list-style: none;
  }

  .home__search-autocomplete li:hover {
    background-color: #34343411;
  }